
#timerDiv {
  box-sizing: border-box;
  padding: .75rem;
  background-color: white;
  border: 1px solid #333;
  border-radius: .25em;
  position: relative;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
  overflow: hidden;
}


#timerDiv.progress::before {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% * var(--progress));
  background-color: blue;
  bottom: 0;
  left: 0;
  right: 0;
}


.timer-container {
  position: fixed;
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


